*{
	margin: 0px;
	padding:0px;
	text-decoration: none;
}
.navtop{
	margin-top:0px;
    background-color:black; 
    height:5vh; 
}
.logo{
	float: left;
height: auto;
width: 150px;

}
ul{
	float: left;
	list-style: none;
	}
ul li{
display: inline-block;
margin-top: 20px;
}
ul li a{
	color:yellow;
	padding: 5px 20px;
	border:1px transparent;
	transition: 0.6s ease;
}
footer{
	height: 10vh;
	float:left;
	 color:black; 
}
