{% extends 'base.html' %}
{% load static %}

{% block title %}
Pariwartan | Blogs
{% endblock %}

{% block navbar %}
	<ul>
		<li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="{% url 'donate_app:what' %}">What we do</a></li>	
		<li ><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li><a href="{% url 'donate_app:shop' %}">Shop</a></li>
        <li class="active"><a href="{% url 'donate_app:blogs' %}">Blogs</a></li>
        <li ><a href="{% url 'donate_app:contact' %}">Contact Us</a></li>
		<li ><a href="{% url 'donate_app:faq' %}">FAQ</a></li>
		<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
		<li><a href="{% url 'user_app:login' %}"><button>Log in</button></a>
		<li><a href="{% url 'user_app:signupform' %}"><button>Sign up</button></a>

    </ul>
{% endblock %}

{% block media_content %}
<div class="middle">
</div>
{% endblock %}