<!DOCTYPE html>
<html>
    <head>
        <title> Donation Form</title>
        <title>Home page</title>
       <link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
       <!--<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}"-->
    </head>
<body>

<!--NAVIGATION BAR TOP-->
<div class="navtop">
	<div class="logo">
	<img src="../../media/donateApp/logo.png">
	</div>
	<ul>
		<li ><a href="index.html">Home</a></li>	
		<li ><a href="what.html">How it works</a></li>	
		<li class="active"><a href="Donate.html">Donate</a></li>
		<li><a href="shop.html">Shop</a></li>
        <li ><a href="blogs.html">Blogs</a></li>
        <li ><a href="contact.html">Contact Us</a></li>
		<li><a href="faq.html">Updates</a></li>
		<li ><a href="team.html">Our team</a></li>
        </ul>
</div>
<div class="middle">

    <form action=" " method=" ">
       <table>
{% extends 'base.html' %}
{% load static%}
          
{% block title %} 
  Donation Form
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/donation_form.css' %}">
{% endblock %}

        <tr>
        <td>
          <label for="name"> <b>Name:</b></label>
          <input type="text" placeholder="Enter your name" name="Name" required> 
        </td>
        </tr>
{% block navbar %}
<ul>
  <li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
  <li ><a href="#">What we do</a></li>	
  <li class="active"><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
  <li><a href="#">Shop</a></li>
  <li ><a href="#">Blogs</a></li>
  <li ><a href="c#">Contact Us</a></li>
  <li ><a href="f#">FAQ</a></li>
</ul>
{% endblock %}
 
{% block media_content %}
  <form action="{% url 'donate_app:adddonation' %}" method="POST">
    {% csrf_token %}
    <table>
      <div class="container">
        <h1>Donation Form</h1>

        <tr>
          <td>
            <label for="name"> <b>Name:</b></label>
            <input type="text" placeholder="Enter your name" name="name" required>
          </td>
        </tr>

                    
        <tr>
          <td>
           <label for="contact"><b>Contact:</b></label>
           <input type="text" placeholder="Enter your contact number" name="contact" required>
          </td>
        </tr>

        
          
        <tr>
          <td>
            <label for="add"><b>Address:</b></label>
            <input type="text" placeholder="Enter your address" name="address" required>
          </td>
        </tr>
      
        <tr>
          <td>
            <label for="date"><b>Date:</b></label>
            <input type="date"  name="date" required>
          </td>
        </tr>


        <tr>
          <td><button type="submit" class="registerbtn">Register</button></td>
        </tr>

      </div>
        
    </table>
      
        
      </form> 
    </div>

    <!--NAVIGATION BAR BOTTOM-->
	<div class="navdown">
		<div class="navdown">
		<ul>	
		<li><a href="#">Terms&Conditions</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
</div>
  </form> 
{% endblock %}

</body>
</html>