<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styler.css">
	<title>What we do</title>
</head>
<body>

<!--NAVIGATION BAR TOP-->
<div class="navtop">
	<div class="logo">
	<img src="../../media/donateApp/logo.png">
	</div>
	<ul>
		<li ><a href="index.html">Home</a></li>	
		<li ><a href="what.html">How it works</a></li>	
		<li ><a href="donate_app/templates/donation_form.html">Donate</a></li>
		<li><a href="shop.html">Shop</a></li>
        <li ><a href="blogs.html">Blogs</a></li>
        <li ><a href="contact.html">Contact Us</a></li>
		<li class="active"><a href="faq.html">Updates</a></li>
		<li ><a href="team.html">Our team</a></li>
        </ul>
</div>

<div class="middle">


	</div>

	<!--NAVIGATION BAR BOTTOM-->
	<div class="navdown">
		<div class="navdown">
		<ul>	
		<li><a href="#">Terms&Conditions</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
	</div>

</body>
</html>