{% extends 'base.html' %}
{% load static %}

{% block title %}
	Pariwartan | HomePage
{% endblock %}

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
	{% endblock %}

	{% block navbar %}
	<ul>
		<li class="active"><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="#">What we do</a></li>	
		<li ><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li><a href="#">Shop</a></li>
        <li ><a href="#">Blogs</a></li>
        <li ><a href="#">Contact Us</a></li>
        <li ><a href="#">FAQ</a></li>
    </ul>
	{% endblock %}


{% block media_content %}
<div class="mid">
	<div class="background">
		
	</div>
</div>
<p>this is homepage</p>

{% endblock %}



