{% extends 'base.html' %}
{% load static %}

{% block title %}
	Pariwartan | HomePage
{% endblock %}

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
	{% endblock %}



{% block navbar %}
	<ul>
		<li class="active"><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="what.html">How it works</a></li>	
		<li ><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li><a href="shop.html">Shop</a></li>
        <li ><a href="blogs.html">Blog</a></li>
		<li ><a href="faq.html">Updates</a></li>
		<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
		<li><a href="{% url 'user_app:login' %}"><button>Log in</button></a>
		<li><a href="{% url 'user_app:signupform' %}"><button>Sign up</button></a>
	</ul>
{% endblock %}

{% block media_content %}
<div class="mid">
	<div class="background">
		<div class="title">
			<h1>“हजुरको सानो सहयोगले कसैको जिवनमा परिवर्तन ल्याउन सक्छ”</h1>
			<h2>Do you have old clothes just taking up the space of your cupboard?

				There are more than 25.2% of Nepali People waiting for you to donate a drop from your ocean of clothes.
					
				And what’s more we are at your doorsteps to pick up the clothes that  they need.
					
				Having a Big heart has never been so easy.
				Just fill our donation form  and you have become an aider to their lives.
					
				Do you wanna flex everyone that you wore the stylish Redecorated Garments?.Shop here.
			</h2>
		</div>
	</div>
</div>

{% endblock %}


