<!DOCTYPE html>
<html>
    <head>
        <title> Donation Form</title>
        <link rel="stylesheet" type="text/css" href="donation_form.css">
    </head>
<body>
    
    <form method="post" action="  "> 
		
    <table width="500" align="center"> 
        
        <tr align="center">
            <td colspan="3"><h2>Login </h2></td>
        </tr>
        
        <tr>
            <td align="right"><b>Email:</b></td>
            <td><input type="text" name="email" placeholder="enter email" required/></td>
        </tr>
        
        <tr>
            <td align="right"><b>Password:</b></td>
            <td><input type="password" name="pass" placeholder="enter password" required/></td>
        </tr>
        
        <tr align="center">
            <td colspan="3"><a href="  ">Forgot Password?</a></td>
        </tr>
        
        <tr align="center">
            <td colspan="3"><input type="submit" name="login" value="Login" /></td>
        </tr>
        
    
    </table> 
    <h3 style="text-align:center;"><a href="  " style="text-decoration:none;">New? Register Here</a></h3>
    </form>

</body>

</html>

