{% extends 'base.html' %}
{% load static %}

	{% block title %}
	Pariwartan | Shop
	{% endblock%}

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %} ">
	{% endblock%}


	{% block navbar %}
	<ul>
		<li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="{% url 'donate_app:what' %}">What we do</a></li>	
		<li ><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li class="active"><a href="{% url 'donate_app:shop' %}">Shop</a></li>
		<li ><a href="{% url 'donate_app:blogs' %}">Blogs</a></li>
		<li ><a href="{% url 'donate_app:contact' %}">Contact Us</a></li>
		<li ><a href="{% url 'donate_app:faq' %}">FAQ</a></li>
		<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
		<li><a href="{% url 'user_app:login' %}"><button>Log in</button></a>
		<li><a href="{% url 'user_app:signupform' %}"><button>Sign up</button></a>
	</ul>
	{% endblock %}


<!-- <div class="middle">


	</div> -->
	{% block media_content%}
	<div class="mid">
		<div class="background">
			<nav class="product-filter">
				<h1>Jackets</h1>
				
				<div class="sort">
					<div class="collection-sort">
						<label>Filter by:</label>
						<select>
					  <option value="/">All Jackets</option>
					  <option value="/">2016</option>
					  <option value="/">jacket</option>
					  <option value="/">Jackets</option>
					  <option value="/">layers</option>
					  <option value="/">Obermeyer</option>
					  <option value="/">Roxy</option>
					  <option value="/">womens</option>
					   </select>
					</div>
					
					<div class="collection-sort">
						<label>Sort by:</label>
						<select>
					  <option value="/">Featured</option>
					  <option value="/">Best Selling</option>
					  <option value="/">Alphabetically, A-Z</option>
					  <option value="/">Alphabetically, Z-A</option>
					  <option value="/">Price, low to high</option>
					  <option value="/">Price, high to low</option>
					  <option value="/">Date, new to old</option>
					  <option value="/">Date, old to new</option>
					</select>
					</div>
				</div>
			</nav>
			
			<section class="products">
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
				<div class="product-card">
					<div class="product-image">
						<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
					</div>
					<div class="product-info">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				</div>
				
		
			</div>
			</div>
	{% endblock %}

	<!--NAVIGATION BAR BOTTOM-->
	<div class="navdown">
		<div class="navdown">
		<ul>	
		<li><a href="#">Terms&Conditions</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
	</div>

</body>
</html>