{% extends 'base.html' %}
    {% block media_content %}
    {% csrf_token %}
    <form action="#" method="POST" enctype="multipart/form-data">
        <h2 align="center">Create an account</h2></td>
        <table align="center" width="750">
        
        <tr align="center">
        </tr>
        
        <tr>
            <td align="right">
                <label for="name"><b>Name:</b></label>
            </td>
            <td><input type="text" placeholder="Enter your name" name="name" required/></td>
        </tr>
        
        <tr>
            <td align="right"> 
                <label for="name"><b>Address:</b></label>
            </td>
            <td><input type="text" placeholder="Enter your address" name="address" required/></td>
        </tr>

        <tr>
            <td align="right"> 
                <label for="email"><b>Email:</b></label>
            </td>

            <td><input type="text" placeholder="Enter your email" name="" required/></td>
        </tr>
        
        <tr>
            <td align="right">
                <label for="name"><b>Password:</b></label></td>
            </td>

            <td><input type="password" placeholder="Enter your password" name="  " required/></td>
        </tr>
                  
        
    <tr align="center">
        <td ><input type="submit" name="  " value="Create Account" /></td>
    </tr>
    
    
    
    </table>

</form>
{% endblock %}

</body>

</html>