{% extends 'base.html' %}
{% load static %}

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
	{% endblock %}
	{% block title %}
	Donate | Team
	{% endblock %}

	


	{% block navbar %}
	<ul>
		<li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="#">How it works</a></li>	
		<li><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li><a href="#">Shop</a></li>
        <li><a href="blogs.html">Blogs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="faq.html">Updates</a></li>
		<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
		<a href="{% url 'donate_app:donateform' %}"><button type="button">Donate</button></a>
	</ul>
	{% endblock %}

{% block media_content %}
<div class="middle">
	<h1>1)Bijita Kc</h1>
	<h2>Currently studying Bsc.Csit in Kathford College.Front end designer.</h2><br>

  	<h1>2)Utsav Dhungana</h1>
  	<h2>Currently studying  Bsc.Csit in Asian College of higher studies.Front End Designer.</h2><br>

	<h1>3)Shreejit Hora</h1>

	<h2>Currently studying Bsc.Csit in Kathford College.Back End Developer.</h2><br>

	<h1>4)Sumnima Thapa</h1>
	<h2>Currently studying Bsc.Csit in St.Xavier’s College.Content Writer.</h2><br>
</div>
{% endblock %}

