{% extends 'base.html' %}
{% load static %}

	{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
	{% endblock %}
	{% block title %}
	Donate | Team
	{% endblock %}

	


	{% block navbar %}
	<ul>
		<li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
		<li ><a href="#">How it works</a></li>	
		<li><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
		<li><a href="#">Shop</a></li>
        <li><a href="blogs.html">Blogs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="faq.html">Updates</a></li>
		<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
		<a href="{% url 'donate_app:donateform' %}"><button type="button">Donate</button></a>
	</ul>
	{% endblock %}

{% block media_content %}
<div class="middle">
	<div class="card">
		<img src="img1.jpg" alt="image" style="width:100%">
		<h1>Shreejit Hora</h1>
		<p class="title">Backend Designer</p>
		<p>Kathford International College</p>
	   
	</div>
	  
	<div class="card">
		<img src="img3.jpg" alt="image" style="width:100%">
		<h1>Sumnima Thapa</h1>
		<p class="title">Content riter</p>
		<p>St.Xaviers College</p>
	</div>
		<img src="img2.jpg" alt="image" style="width:100%">
		<h1>Utsav Dhungana</h1>
		<p class="title">Frontend Designer</p>
		<p>Asian College</p>
 	</div>

	<div class="card">
		<img src="img4.jpg" alt="image" style="width:100%">
		<h1>Bijita Kc</h1>
		<p class="title">Frontend Designer</p>
		<p>Kathford International College</p>
 	</div>
</div>
{% endblock %}

