{% extends 'base.html' %}
{% load static %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styler.css' %}">
{% endblock%}
{% block title %}
Pariwartan | What To Do
{% endblock%}

{% block navbar %}
<ul>
	<li ><a href="{% url 'donate_app:home' %}">Home</a></li>	
	<li class="active"><a href="{% url 'donate_app:what' %}">What we do</a></li>	
	<li ><a href="{% url 'donate_app:donateform' %}">Donate</a></li>
	<li ><a href="{% url 'donate_app:shop' %}">Shop</a></li>
	<li ><a href="{% url 'donate_app:blogs' %}">Blogs</a></li>
	<li ><a href="{% url 'donate_app:contact' %}">Contact Us</a></li>
	<li ><a href="{% url 'donate_app:faq' %}">FAQ</a></li>
	<li ><a href="{% url 'donate_app:team' %}">Our team</a></li>
	<li><a href="{% url 'user_app:login' %}"><button>Log in</button></a>
	<li><a href="{% url 'user_app:signupform' %}"><button>Sign up</button></a>
</ul>
{% endblock %}

{% block media_content %}
<div class="middle">
	<h1>WHO ARE WE?

	</h1>
	<h2>We are a group of young enthusiast who deeply care for the society and are willing to rise by raising others.As a responsible member of the society,we have taken initiatives to help the economically marginalized group of people.
		Pariwartan is a  non-profitable startup completlty focusing on the betterment of the economically backward group of people.We are here to help people donate more clothes easily.With a team of highly dedicated workers,the best shall be done with your donation.
	</h2>
	<br>
	<h1>WHY WE STARTED?</h1>
	<h2>The innovative idea of clothes bank was highly appreciated by many people.People who have clothes that are no longer useful to them so they cameby and donated it to the clothes bank.There are currently three clothes bank in Kathmandu.So despite already having clothes bank, did we choose to build an online platform to it?
		a)For the people who are willing but don't have time to go till the clothes bank.
		b)Number of clothes bank are very  far being just a few (3 places in the kathmandu valley and just a total of six in the whole country)
		c)Not feasible to go till the clothes bank carrying that heavy loads of clothes.
		d)Because its just a click away.
	</h2>
	<br>
	<h1> HOW IT WORKS?</h1>
	<h2>The clothes you donate will first be collected at our warehouse.The clothes that can be redesigned will be  sorted first and then the rest will go for donation.The redesigned clothes will be displayed in our site and people can buy it from there as a social cause by wearing recycled clothes.</h2>
	<br>
</div>
{% endblock %}
